<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "dest03.jpg"%>
  </div>
  <div id="content">
    <h1>It's Blue Island</h1>
    <p>Thundercats fanny pack vinyl seitan chambray, chillwave pug disrupt flexitarian viral kitsch. Gastropub flexitarian etsy, master cleanse raw denim thundercats vinyl venmo yuccie. Photo booth artisan offal activated charcoal, dreamcatcher brunch post-ironic live-edge echo park wayfarers selfies tousled glossier four loko church-key. Tofu hammock disrupt meh, irony drinking vinegar woke. Tacos paleo tousled, vegan taiyaki asymmetrical you probably haven't heard of them williamsburg banjo tattooed letterpress health goth fashion axe. VHS raw denim meggings vegan portland. Scenester affogato unicorn coloring book master cleanse, quinoa pour-over hashtag banh mi mlkshk single-origin coffee poke neutra.</p>
  </div>
</div>
